@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navigation_bar{
  display: flex;
  padding: 16px 80px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}




